<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Inserimento Richiesta</h3>

                <form>

                    <div class="mb-3">
                        <label for="selectType" class="form-label">Tipo di giustificativo</label>
                        <select id="selectType" class="form-select" [(ngModel)]="selectedItem">
                            <option *ngFor="let item of types" [value]="item.idType">{{ item.typeDescription }}</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="dataAbsenceStart" class="form-label">Data Inizio Assenza</label>
                                <input type="date" class="form-control" id="dataAbsenceStart">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="dataAbsenceEnd" class="form-label">Data Fine Assenza</label>
                                <input type="date" class="form-control" id="dataAbsenceEnd">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="timeAbsenceStart" class="form-label">Ora Inizio Assenza</label>
                                <input type="time" class="form-control" id="timeAbsenceStart">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="timeAbsenceEnd" class="form-label">Ora Fine Assenza</label>
                                <input type="time" class="form-control" id="timeAbsenceEnd">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="note" class="form-label">Note</label>
                        <textarea class="form-control" id="note" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button">Inserisci</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>